html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background: #6b0300;
    min-height: 100vh;
    background: linear-gradient(135deg, #910400 0%, # 48%, #f29f9f 100%);
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.player {
    max-width: 750px;
}
